.container{
  font-family: 'Noto Sans JP',sans-serif;
  margin-top: 80px;
}
h3{
  margin-bottom: 30px;
  text-align: center;
}
th{
  height: 30px;
}
.table-bordered td{
  height: 100px;
  width: 100px;
  vertical-align: top;
}
.today{
  background-color: orange;
}
.table-bordered th:nth-of-type(1),.table-bordered td:nth-of-type(1){
  color: red;
}
.table-bordered th:nth-of-type(7),.table-bordered td:nth-of-type(7){
  color: blue;
}
table{
  border-collapse: collapse;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
}
.syuu td{
  height: 30px;
  text-align: center;
}
p{
  text-align: center;
  font-size:1px;
}
.new{
  font-size:100%;
}
